body {
    background-color: white;
}

#subject {
    text-align: center;
    background-color: orange;
}

#hiraSubject {
    top: 80px;
    text-align: center;
}

#subjectRoma {
    top: 120px;
    text-align: center;
    color: gray;
}

#input {
    top: 140px;
    text-align: center;
    color: red;
}

#timerArea {
    position: fixed;
    top: 180px;
    right: 2%;
}

#keyboard_1 {
    position: fixed;
    top: 245px;
    left: 50%;
    padding-left: 40px;
    transform: translate(-50%, -50%);
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_1 div {
    width: 40px;
    height: 40px;
    border: 1px solid orange;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}

#keyboard_2 {
    position: fixed;
    top: 290px;
    left: 50%;
    padding-left: 75px;
    transform: translate(-50%, -50%);
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_2 div {
    width: 40px;
    height: 40px;
    border: 1px solid orange;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}

#keyboard_3 {
    position: fixed;
    top: 335px;
    left: 50%;
    padding-left: 110px;
    transform: translate(-50%, -50%);
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_3 div {
    width: 40px;
    height: 40px;
    border: 1px solid orange;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}

#keyboard_4 {
    position: fixed;
    top: 380px;
    left: 50%;
    padding-left: 0;
    transform: translate(-50%, -50%);
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_4 :not(#key_shift) {
    height: 40px;
    width: 40px;
    border: 1px solid orange;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}

#key_shift {
    height: 40px;
    width: 80px;
    border: 1px solid orange;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}

#keyboard_space {
    position: fixed;
    top: 425px;
    left: 50%;
    padding-left: 390px;
    transform: translate(-50%, -50%);
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_space div {
    width: 190px;
    height: 40px;
    border: 1px solid orange;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}

#finger {
    position: fixed;
    top: 470px;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
    margin: 0 auto;
}

#left {
    position: fixed;
    height: 110px;
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

#left div {
    position: relative;
    width: 40px;
    border-radius: 25px 25px 0 0;
    border: 1px solid orange;
    border-bottom: none;
    margin: 5px;
}

#left_fourth {
    top: 20px;
    height: 90px;
}

#left_third {
    height: 110px;
}

#left_second {
    height: 110px;
}

#left_first {
    height: 110px;
}

#left_thumb {
    top: 50px;
    height: 60px;
}

#right {
    position: relative;
    left: 150px;
    height: 110px;
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

#right div {
    position: relative;
    width: 40px;
    border-radius: 25px 25px 0 0;
    border: 1px solid orange;
    border-bottom: none;
    margin: 5px;
}

#right_thumb {
    top: 50px;
    height: 60px;
}

#right_first {
    height: 110px;
}

#right_second {
    height: 110px;
}

#right_third {
    height: 110px;
}

#right_fourth {
    top: 20px;
    height: 90px;
}

#second {
    top: 110px;
    text-align: center;
}

#missCount {
    top: 130px;
    text-align: center;
}

#weak {
    top: 150px;
    text-align: center;
}

#number {
    top: 170px;
    text-align: center;
}

#accuracyRate {
    top: 190px;
    text-align: center;
}

#wpm {
    top: 210px;
    text-align: center;
}

#level {
    top: 230px;
    text-align: center;
}

#retry {
    position: fixed;
    top: 250px;
    text-align: center;
    display: none;
    background-color: #ffd280;
    border: orange;
    height: 30px;
    width: 80px;
    border-radius: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#photo {
    position: fixed;
    top: 430px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#levelTableArea {
    position: fixed;
    top: 90px;
    right: 10%;
    text-align: center;
    display: none;
}

#rogo {
    position: absolute;
    right: 2%;
    bottom: 5%;
}