#subject {
    text-align: center;
    background-color: orange;
}

#hiraSubject {
    text-align: center;
}

#subjectRoma {
    text-align: center;
    color: gray;
}

#input {
    text-align: center;
    color: red;
}

#timerArea {
    position: absolute;
    top: 25vh;
    right: 3vw;
}

#keyboard_1 {
    position: absolute;
    top: 40vh;
    left: 20vw;
    padding-left: -10vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_1 div {
    width: 7vh;
    height: 7vh;
    border: 0.2vh solid orange;
    border-radius: 1vh;
    font-size: 3.5vh;
    text-align: center;
    line-height: 8vh;
    margin: 1vh;
}

#keyboard_2 {
    position: absolute;
    top: 48vh;
    left: 22vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_2 div {
    width: 7vh;
    height: 7vh;
    border: 0.2vh solid orange;
    border-radius: 1vh;
    font-size: 3.5vh;
    text-align: center;
    line-height: 8vh;
    margin: 1vh;
}

#keyboard_3 {
    position: absolute;
    top: 56vh;
    left: 24vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_3 div {
    width: 7vh;
    height: 7vh;
    border: 0.2vh solid orange;
    border-radius: 1vh;
    font-size: 3.5vh;
    text-align: center;
    line-height: 8vh;
    margin: 1vh;
}

#keyboard_4 {
    position: absolute;
    top: 64vh;
    left: 18vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_4 :not(#key_shift) {
    width: 7vh;
    height: 7vh;
    border: 0.2vh solid orange;
    border-radius: 1vh;
    font-size: 3.5vh;
    text-align: center;
    line-height: 8vh;
    margin: 1vh;
}

#key_shift {
    height: 7vh;
    width: 15vh;
    border: 0.2vh solid orange;
    border-radius: 1vh;
    font-size: 3.5vh;
    text-align: center;
    line-height: 8vh;
    margin: 1vh;
}

#keyboard_space {
    position: absolute;
    top: 72vh;
    left: 35vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_space div {
    height: 7vh;
    width: 30vh;
    border: 0.2vh solid orange;
    border-radius: 1vh;
    font-size: 3.5vh;
    text-align: center;
    line-height: 8vh;
    margin: 1vh;
}

#finger {
    position: absolute;
    top: 81vh;
    height: 17vh;
    margin: 0 auto;
}

#left {
    position: absolute;
    display: flex;
    left: 20vw;
    flex-direction: row;
    margin: 0 auto;
}

#left div {
    position: relative;
    width: 3.5vw;
    border-radius: 3vw 3vw 0 0;
    border: 0.1vw solid orange;
    border-bottom: none;
    margin: 0.5vw;
}

#left_fourth {
    top: 4vh;
    height: 12vh;
}

#left_third {
    height: 16vh;
}

#left_second {
    height: 16vh;
}

#left_first {
    height: 16vh;
}

#left_thumb {
    top: 8vh;
    height: 8vh;
}

#right {
    position: absolute;
    display: flex;
    left: 46vw;
    flex-direction: row;
    margin: 0 auto;
}

#right div {
    position: relative;
    width: 3.5vw;
    border-radius: 3vw 3vw 0 0;
    border: 0.1vw solid orange;
    border-bottom: none;
    margin: 0.5vw;
}

#right_thumb {
    top: 8vh;
    height: 8vh;
}

#right_first {
    height: 16vh;
}

#right_second {
    height: 16vh;
}

#right_third {
    height: 16vh;
}

#right_fourth {
    top: 4vh;
    height: 12vh;
}

#second {
    top: 110px;
    text-align: center;
}

#missCount {
    top: 130px;
    text-align: center;
}

#weak {
    top: 150px;
    text-align: center;
}

#number {
    top: 170px;
    text-align: center;
}

#accuracyRate {
    top: 190px;
    text-align: center;
}

#wpm {
    top: 210px;
    text-align: center;
}

#level {
    top: 230px;
    text-align: center;
}

#retry {
    position: fixed;
    top: 250px;
    text-align: center;
    display: none;
    background-color: #ffd280;
    border: orange;
    height: 30px;
    width: 80px;
    border-radius: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#photo {
    position: fixed;
    top: 430px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#levelTableArea {
    position: fixed;
    top: 90px;
    right: 10%;
    text-align: center;
    display: none;
}

#rogo {
    position: absolute;
    right: 2%;
    bottom: 5%;
}