body {
    background-color: white;
}

#inputRoma {
    top: 100px;
    z-index: 0;
}

#input {
    top: 100px;
    color: red;
    z-index: 1;
}

#timerArea {
    position: fixed;
    top: 150px;
}

#keyboard_1 {
    position: fixed;
    top: 200px;
    left: 100px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_1 div {
    width: 40px;
    height: 40px;
    border: 1px solid blue;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}

#keyboard_2 {
    position: fixed;
    top: 245px;
    left: 120px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_2 div {
    width: 40px;
    height: 40px;
    border: 1px solid blue;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}

#keyboard_3 {
    position: fixed;
    top: 290px;
    left: 140px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_3 div {
    width: 40px;
    height: 40px;
    border: 1px solid blue;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}

#keyboard_4 {
    position: fixed;
    top: 335px;
    left: 160px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_4 div {
    width: 40px;
    height: 40px;
    border: 1px solid blue;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}

#keyboard_space {
    position: fixed;
    top: 380px;
    left: 290px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#keyboard_space div {
    width: 190px;
    height: 40px;
    border: 1px solid blue;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}

#finger {
    position: fixed;
    top: 450px;
    left: 110px;
    width: 600px;
    margin: 0 auto;
}

#left {
    position: fixed;
    height: 110px;
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

#left div {
    position: relative;
    width: 40px;
    border-radius: 25px 25px 0 0;
    border: 1px solid blue;
    border-bottom: none;
    margin: 5px;
}

#left_fourth {
    top: 20px;
    height: 90px;
}

#left_third {
    height: 110px;
}

#left_second {
    height: 110px;
}

#left_first {
    height: 110px;
}

#left_thumb {
    top: 50px;
    height: 60px;
}

#right {
    position: relative;
    left: 150px;
    height: 110px;
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

#right div {
    position: relative;
    width: 40px;
    border-radius: 25px 25px 0 0;
    border: 1px solid blue;
    border-bottom: none;
    margin: 5px;
}

#right_thumb {
    top: 50px;
    height: 60px;
}

#right_first {
    height: 110px;
}

#right_second {
    height: 110px;
}

#right_third {
    height: 110px;
}

#right_fourth {
    top: 20px;
    height: 90px;
}

#weak {
    position: fixed;
    top: 130px;
}

#number {
    position: fixed;
    top: 150px;
}

#accuracyRate {
    position: fixed;
    top: 170px;
}

#wpm {
    position: fixed;
    top: 190px;
}